{% extends "./base.html" %}

{% block content %}
{% include "./components/navbar.html" %}
<div class="container">
  <h1>Feed</h1>
  <p>Find things you love.</p>
  <hr>

  <div class="publication-container">
    <div class="a-publication">
      <div class="publication-info">
        <p>John Doe @example</p>
        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
        <span>Published at: 1997-07-16</span>
      </div>
      <div>
        <img width="200px" height="200px" src="https://i.imgflip.com/16trv1.jpg"></img>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
